# dependency directories
node_modules

# logs and dependency locks
package-lock.json
npm-debug.log
yarn-error.log

# compile
dist

# coverage
coverage
cypress

# -- CLIENT -- #
.vscode
*.log*
*.DS_Store
build
package-lock.json

# node.js
node_modules/
npm-debug.log
yarn-error.log
.module-cache

# Test
coverage/

# cypress
cypress/fixtures
cypress/integration/examples
cypress/plugins
cypress/support

#storybook
storybook-static/